/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2016, 1:33:37 PM
    Author     : Fifi
*/
#html{
    height: 100%;
    width: 100%
}
#body{
    width: 100%;
    height: 100%;
    margin: 0; padding: 0; border: 0;
    font-family: Verdena, Arial,Helvetica, sans-serif;
    font-size: 13px; line-height: 15px;
}
#a{
    color: #8D0D19;
}
#a:hover{
    color: #1A446C;
}
#header{
    display: inline-block;
    width: 100%;
    height: 100px;
    margin: 0; padding: 0; text-align: left;
    background-color: white;
    
}
#headernav{
    display: inline-block;
    width: 100%;
    height: 100px;
    margin: 0; padding: 0; text-align: left;
    background-color: white;
    
}
.formm {
	border: 1px solid grey;
	padding: 8px;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: white;
}
#mainnn{
    width: 80%;
    height:600px;
    margin: 50px auto;
    border: 1px solid green;
    background-color: #ccc;
}
#mainn{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
    margin: auto;
    background-color: #ccc
    
}
#footer{
    clear: both;
    height: 2em;
    margin: 0; padding: 1em;
    text-align: left;
    background: greenyellow;
}
#nav{
    width: 20%;
    height: 100%;
    float: left;
    margin: 0;
    border: 1px solid green;
}
#page{
    float: left;
    width: 70%;
    height: 100%;
    
    
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox{
    margin-bottom: 10px;
    color: #fafafa;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   padding: 10px;
   font-size: 16px;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="email"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*sidebar navigation*/
.nav-sidebar{
    margin-right: -21px;/*20px padding + 1px border*/
    margin-bottom: 20px;
    margin-left: -20px;
    
   
}
.nav-color{
    background-color: #000;
}
.nav-sidebar > li > a{
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active >a:focus{
    color: #fff;
    background-color: #428bca;
}

/*main content*/
.main{
    //padding: 20px;
    
}
/*@media (min-width: 768px){
    .main{
        padding-left: 40px;
        padding-right: 40px;
    }
}*/
.main .page-header{
    margin-top: 0;
    
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
